body {
    font-family:Arial, sans-serif;
    text-align: center;
    background-color: #f5f7fa;
}
.header-d {
    font-size: larger;
    color: black;
    padding: 20px;
    margin: 20px;
    height: 110px;
    margin-top: 130px;
}
.quizz-container, #result-container{
    margin: 10px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    padding: 10px;
    font-family: Arial, sans-serif;
}
#question{
    font-family: Arial, sans-serif;
}
button {
    background-color: #e534aa;
    color: white;
    border: none;
    padding: 15px 30px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 15px;
}
button:hover {
    background-color: #8f4387;
}
#choices button {
    display: block;
    background: #e1e8ed;
    color: #333;
    border: none;
    padding: 15px;
    margin: 10px 0;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
    margin: 10px auto;
}
#choices button:hover {
    background: #cfd9df;
}
#navigation-buttons {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    margin: 15px auto;
}
#navigation-buttons button {
    background: #e534aa;
    color: white;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 15px;
    margin: 0 10px;
}