body {
    text-align: center;
    background-color: #f5f7fa;
}
header {
    background-color: #5d2057;
    color: white;
    padding: 10px;
    height: 110px;
}
.quizz-container{
    margin-top: 10px;
    background-color: white;
    height: 200px;
    width: 200px;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}