body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

* {
    font-family: 'Poppins', sans-serif;
}

.main-container {
    margin-top: 160px;
}

.regester-login-container {
    width: fit-content;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
    padding-top: 10px;
    border-radius: 5px;

}


.container-image img {

    height: 400px;
    mix-blend-mode: multiply;


}

.login-container {
    padding: 30px 40px;
    width: 100%;
}


.feedback-heading {
    display: flex;
    align-items: center;
}

.feedback-heading img {
    height: 18px;
}

.feedback-main-heading {
    text-align: center;
}

.hr {
    width: 100%;
    height: 1px;
    background-color: gray;
    margin: 15px 0px;

}

.imogi-container {
    display: flex;
    justify-content: space-around;
}

.imogi-container img {
    display: block;
    margin-top: 20px;
    height: 60px;
}

.text-box {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    border-radius: 10px;
}

.text-box button {
    border: none;
    padding: 10px 0px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
        font-size: 1.7rem;
        display: inline-block;
        border-radius: .5rem;
        color: #fffefe;
        background-color:  var(--orange);
        cursor: pointer;
      
}

textarea {
    resize: vertical;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    border:0.5px solid rgb(84, 82, 82);
    padding: 5px;
    padding-left: 13px;
    padding-top: 13px;
    border-radius: 5px;
}





.review-main-container-heading {
    text-align: center;
    margin-top: -50px;
}

.review-main-container-heading p {
    font-size: 15px;
}

.review-main-container-heading h1 {
    font-size: 20px;
    line-height: 40px;

}

.review-main-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
    margin-bottom: 100px;
    flex-wrap: wrap;
}

.review-container-1 {

    width: 300px;
    border: 1px solid rgb(202, 198, 198);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 5px;

}

.review-container-1 img {
    display: block;
    margin: 0 auto;
}

.icon-img-size {
    height: 30px;
}

.review-container-1 p {
    text-align: center;
}

.person-image {
    height: 45px;
    border-radius: 50%;
}

#review-1 {
    display: none;
}

#input-Name {
    margin-top: 25px;
    padding: 13px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    border: none;
    border:0.5px solid rgb(84, 82, 82);
    border-radius: 5px;
}

#msg-show {
    font-size: 15px;
    padding: 15px 0px;
}

#review-text {
    margin: 12px 0px;
    text-align: center;
    font-size: 12px;
}

#name-review {
    font-size: 14px;
    font-weight: 500;
}
@media screen and  (max-width:600px) 
{
    .main-container {
        margin-top: 160px;
    }
    
    .regester-login-container {
        width: 95%;
        flex-wrap: wrap;
        
    }
    .login-container {
        padding: 30px 0px;
    }
    
    .container-image img {
    
        height: 300px;
        /* mix-blend-mode: normal; */
    
    
    }
     .imogi-container img {
        
        height: 50px;
    }

    .review-main-container {
      
        flex-wrap: wrap;
      
    }
    
    .review-container-1 {
    
        margin-bottom: 20px;
    
    }
    
}

body .dark-theme {
    background-color: #222222;
    color: #ffffff;
}
section .main-container .dark-theme{
    background-color:#ffffff;
    box-shadow: 0 0.125rem 0.25rem #ffffff;

}
body.light-theme {
    background-color: #ffffff;
    color: #000000;
}

body.dark-theme {
    background-color: #222222;
    color: #0e0e0e;
}

.dark-theme .regester-login-container {
    box-shadow: 0 10px 30px #e28605;
    background-color: #ffffff;
}


.dark-theme .review-container-1 {
    border: 1px solid #fff;
    box-shadow: 0 .5rem 1rem rgba(255, 255, 255, .15);
}

.dark-theme .hr {
    background-color: rgba(18, 18, 18, 0.5);
}

.dark-theme #textarea,
.dark-theme #input-boxx {
    border: .2rem solid var(--orange);
    background-color: #ffffff;
    color: #090909;
}

.dark-theme .text-box button{
    border: .2rem solid var(--orange);
}
.dark-theme .review-container-1 #review-text {
    color:#ffffff;
}
.dark-theme .review-main-container-heading
{
    color:#ffffff;
}
.dark-theme .review-container-1 p{
    color:#ffffff;
   
}
.dark-theme .review-container-1{
    box-shadow: 0 8px 15px #e28605;
}
