@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

@font-face {
    font-family: rutu;
    src: url(../fonts/font-name.otf);
}

body {
    padding: 0;
    margin-top: 110px;
    font-family: Arial, sans-serif;
}

.heading {
    padding: 10px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading img {
    margin: 0 120px;
    height: 150px;
    width: 250px;
    border-radius: 30px;
}

.heading h1 {
    font-size: 42px;
    color: #ff3399;
    font-family: rutu;
}

.heading2 {
    text-align: center;
    color: black;
}

.box-que {
    display: flex;
    justify-content: center;
    padding: 15px;
    margin: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 10px;
}

.box-que img {
    height: 100px;
    margin: 0 70px;
    border-radius: 30px;
}

.box-que h1 {
    font-size: 30px;
    align-self: center;
}

.fun-container {
    max-width: 600px;
    margin: 60px auto;
    padding: 10px 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    position: relative;
}

.fun-container .question h1 {
    font-size: 24px;
    color: darkslategrey;
    text-align: center;
}

.fun-container .question h2 {
    font-size: medium;

}

.fun-container .question p {
    font-size: medium;
}

.img {
    display: block;
    margin: 10px auto;
    height: 120px;
    width: 210px;
    border-radius: 15px;
    transition: all .3s ease-in-out;
    cursor: zoom-out;
}

.img:hover {
    transform: scale(1.2);
}

form {
    margin-top: 20px;
}

.dark-theme div {
    color: black;
}

form div {
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    font-size: medium;
}

.btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button {
    padding: 10px 30px;
    border: none;
    background-color: #eb51b7;
    color: white;
    border-radius: 25px 10px;
    font-size: 16px;
    margin-top: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

button:hover {
    cursor: pointer;
    background-color: #e600e6;
    color: black;
    transform: scale(1.1);

}

.question {
    display: none;
}

.active-question {
    display: block;
}

#score {
    text-align: center;    
}
#score h1{
    color: #4CAF50;  
}
.certificate-container-main {
    display: block;
    max-width: 650px;
    margin: 10px auto;
    padding: 10px 30px;
}

.certificate-container {
    border-radius: 10px;
    padding: 10px;
    background-color: #ffffff;
    max-width: 650px;
    margin-top: 50px;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.certificate-container h1 {
    font-size: 35px;
    color: #4CAF50;
    margin-top: 20px;
}

.certificate-container h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: #ff6347;
    margin-top: 30px;
}

.certificate-container h3 {
    font-size: 30px;
    color: #1e90ff;
    margin-top: 30px;
}

.certificate-container p {
    font-size: 15px;
    margin-top: 30px;
}

.form-container {
    margin-top: 20px;
}

.form-container input {
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    font-size: 1em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.certificate-input {
    display: flex;
    justify-content: center;

}

.certificate-button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.certificate-button:hover {
    background-color: #45a049;
}

/* Hide by default */
#certificate {
    display: none;
}

/* Show when the class is added */
#certificate.show-certificate {
    display: block;

}

/*dark theme*/
.dark-theme .heading img {
    filter: drop-shadow(5px 5px 30px #e28605);
}

.dark-theme .box-que img {
    filter: drop-shadow(5px 5px 30px #e28605);
}

.dark-theme .img {
    filter: drop-shadow(5px 5px 30px #e28605);
}

.dark-theme .box-que h1 {
    color: white;
}

.dark-theme .fun-container {
    background-color: #4d4d4d;
}

.dark-theme button {
    background: #f7a636;
}

.dark-theme form div {
    color: white;
    background-color: gray;
}

.dark-theme .fun-container h1 {
    color: #fff;
}

.dark-theme .heading2 {
    color: white;
}

.dark-theme .fun-container p {
    color: #fff;
}

.dark-theme .fun-body {
    background-color: #262626;
    margin: 0;
}
.dark-theme .certificate-container{
    background-color: #4d4d4d; 
}
.dark-theme .certificate-container p{
    color: #ffffff;
}

@media screen and (max-width: 320px) {
    .heading {
        padding: 10px;
    }

    .heading img {
        margin: 0 5px;
        height: 30px;
        width: 50px;
    }

    .heading h1 {
        font-size: 6px;
    }

    .heading2 h2 {
        margin: 0;
        padding: 0;
        font-size: 8px;
    }

    .box-que {
        padding: 0;
        margin: 0;
    }

    .box img {
        height: 30px;
        margin: 0;
        padding: 10px;
    }

    .box h1 {
        font-size: 5px;
    }

    h1 {
        font-size: 12px;

    }

    h2 {
        font-size: 10px;
        color: darkslategrey;
    }

    .fun-container {
        max-width: 450px;
        margin: 10px auto;
        padding: 10px 10px;

    }

    .fun-container h2 {
        font-size: 10px;
    }

    .fun-container .question p {
        font-size: smaller;
    }

    .img {
        display: block;
        margin: 10px auto;
        height: 80px;
        width: 120px;

    }

    .img:hover {
        transform: scale(1.2);
    }

    form {
        margin-top: 20px;
    }

    form div {
        margin-bottom: 10px;
        font-size: 10px;
    }

    .que {
        font-size: 20px;
    }


    button {
        padding: 5px 10px;
        font-size: 10px;
        margin-top: 10px;
    }


    .certificate-input input {
        width: 100px;
    }
}

@media screen and (min-width: 320.5px) and (max-width:450px) {
    .heading {
        padding: 10px;
    }

    .heading img {
        margin: 0 5px;
        height: 30px;
        width: 50px;
    }

    .heading h1 {
        font-size: 10px;
    }

    .heading2 h2 {
        margin: 0;
        padding: 0;
        font-size: 10px;
    }

    .box-que {
        padding: 0;
        margin: 20px;
    }

    .box-que img {
        height: 50px;
        margin: 0 15px;
        padding: 10px;
    }

    .box-que h1 {
        font-size: 10px;
    }

    h1 {
        font-size: 12px;
    }

    .h2 {
        font-size: 10px;
    }

    .fun-container {
        max-width: 600px;
        margin: 10px 40px;
        padding: 10px 20px;

    }

    .fun-container h2 {
        font-size: 10px;
    }

    .img {
        display: block;
        margin: 10px auto;
        height: 80px;
        width: 120px;
    }

    .img:hover {
        transform: scale(1.2);
    }

    form {
        margin-top: 20px;
    }

    form div {
        margin-bottom: 10px;
        font-size: 10px;
    }

    .que {
        font-size: 20px;
    }

    .certificate-input input {
        width: 100px;
    }
}

@media screen and (min-width: 450.5px) and (max-width:702px) {
    .heading {
        padding: 10px;
    }

    .heading img {
        margin: 0 5px;
        height: 80px;
        width: 100px;
    }

    .heading h1 {
        font-size: 15px;
    }

    .heading2 h2 {
        margin: 10px;
        padding: 10px;
    }

    .box-que {
        padding: 10px;
        margin: 10px;
    }

    .box-que img {
        height: 100px;
        margin: 0;
    }

    .box-que h1 {
        font-size: 20px;
    }

    .fun-container {
        max-width: 600px;
        margin: 10px 40px;
        padding: 10px 20px;
    }

    h1 {
        font-size: 24px
    }

    .fun-container h2 {
        font-size: 20px;
    }

    .img {
        display: block;
        margin: 10px auto;
        height: 150px;
        width: 250px;
    }

    form {
        margin-top: 20px;
    }

    form div {
        margin-bottom: 10px;
    }

    button {
        padding: 10px 30px;
        border-radius: 25px 10px;
        font-size: 16px;
        margin-top: 20px;
    }

    .certificate-input input {
        width: 100px;
    }

}

@media screen and (min-width: 702.5px) and (max-width:900px) {
    .heading {
        padding: 10px;
    }

    .heading img {
        margin: 0 5px;
        height: 80px;
        width: 100px;
    }

    .heading h1 {
        font-size: 15px;
    }

    .heading2 h2 {
        margin: 10px;
        padding: 10px;
    }

    .box-que {
        padding: 10px;
        margin: 10px;

    }

    .box-que img {
        height: 100px;
        margin: 0;
    }

    .box-que h1 {
        font-size: 20px;
    }

    .fun-container {
        max-width: 600px;
        margin: 10px auto;
        padding: 10px 20px;
    }

    h1 {
        font-size: 24px;
    }

    .fun-container h2 {
        font-size: 20px;
    }

    .img {
        display: block;
        margin: 10px auto;
        height: 150px;
        width: 250px;
    }

    form {
        margin-top: 20px;
    }

    form div {
        margin-bottom: 10px;
    }

    button {
        padding: 10px 30px;
        border-radius: 25px 10px;
        font-size: 16px;
        margin-top: 20px;
    }

}

@media screen and (min-width: 902.5px) and (max-width:1304px) {
    .heading {
        padding: 10px;
    }

    .heading img {
        margin: 0 auto;
        height: 100px;
        width: 120px;
    }

    .heading h1 {
        font-size: 25px;
    }

    .heading2 h2 {
        margin: 10px;
        padding: 10px;
    }

    .box-que {
        padding: 10px;
        margin: 10px;
    }

    .box-que img {
        height: 100px;
        margin: 0 70px;
    }

    .box-que h1 {
        font-size: 20px;
        align-self: center;
    }

    .fun-container {
        max-width: 600px;
        margin: 10px auto;
        padding: 10px 20px;
    }

    h1 {
        font-size: 24px;
    }

    .fun-container h2 {
        font-size: 20px;
    }

    .img {
        display: block;
        margin: 10px auto;
        height: 150px;
        width: 250px;
    }

    .img:hover {
        transform: scale(1.2);
    }

    form {
        margin-top: 20px;
    }

    form div {
        margin-bottom: 10px;
    }

    button {
        padding: 10px 30px;
        border-radius: 25px 10px;
        font-size: 16px;
        margin-top: 20px;
    }

}