@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

@font-face {
    font-family: rutu;
    src: url(../fonts/font-name.otf);
}

body {
    padding: 0;
    margin-top: 110px;
    font-family: Arial, sans-serif;
}

.Main-container {
    margin-top: 120px;
}

.header-name {
    font-size: 80px;
    color: #ff3399;
    font-family: rutu;
    margin-top: 45px;
}

#head {
    font-size: 80px;
    color: #ff3399;
    font-family: rutu;
    margin-top: 45px;
}

.GK-header {
    display: flex;
    justify-content: space-evenly;
}

.header-img {
    height: 150px;
    margin-top: 0;
}

.tagline {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}

.divider {
    border-bottom: 2px solid #ccc;
    margin: 20px 0;
}

.bg-img {
    background-image: url('./../images/gk-quizz/bg.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    margin-bottom: 0px;
}

.section-title {
    font-size: 40px;
}

.Quiz-container {
    margin-top: 0px;
}

.type-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.que-type {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
}

.que-type-img {
    height: 70px;
}

.container-image img {
    height: 400px;
    mix-blend-mode: multiply;
}

.fun-container {
    max-width: 600px;
    margin: 60px auto;
    padding: 10px 20px;
    background-color: #dadad6;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    position: relative;
}

.fun-container .question h1 {
    font-size: 24px;
    color: darkslategrey;
    text-align: center;
}

.fun-container .question h2 {
    font-size: medium;

}

.fun-container .question p {
    font-size: medium;
}

.img {
    display: block;
    margin: 10px auto;
    height: 120px;
    width: 210px;
    border-radius: 15px;
    transition: all .3s ease-in-out;
    cursor: zoom-out;
}

.img:hover {
    transform: scale(1.2);
}

form {
    margin-top: 20px;
}

.dark-theme div {
    color: black;
}

form div {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    font-size: medium;
}

.btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button {
    padding: 10px 30px;
    border: none;
    background-color: rgb(2, 175, 255);
    color: white;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

button:hover {
    cursor: pointer;
    background-color: #008bcc;
    color: black;
    transform: scale(1.1);

}

.question {
    display: none;
}

.active-question {
    display: block;
}

#score {
    text-align: center;
}

#score h1 {
    color: #4CAF50;
}

.certificate-container-main {
    display: block;
    max-width: 650px;
    margin: 10px auto;
    padding: 10px 30px;
}

.certificate-container {
    border-radius: 10px;
    padding: 10px;
    background-color: #dadad6;
    max-width: 650px;
    margin-top: 50px;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.certificate-container h1 {
    font-size: 35px;
    color: #4CAF50;
    margin-top: 20px;
}

.certificate-container h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: #ff6347;
    margin-top: 30px;
}

.certificate-container h3 {
    font-size: 30px;
    color: #1e90ff;
    margin-top: 30px;
}

.certificate-container p {
    font-size: 15px;
    margin-top: 30px;
}

.form-container {
    margin-top: 20px;
}

.form-container input {
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    font-size: 1em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.certificate-input {
    display: flex;
    justify-content: center;

}

.certificate-button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.certificate-button:hover {
    background-color: #45a049;
}

/* Hide by default */
#certificate {
    display: none;
}

/* Show when the class is added */
#certificate.show-certificate {
    display: block;

}

/*dark theme*/
.dark-theme .heading img {
    filter: drop-shadow(5px 5px 30px #e28605);
}

.dark-theme .box-que img {
    filter: drop-shadow(5px 5px 30px #e28605);
}

.dark-theme .img {
    filter: drop-shadow(5px 5px 30px #e28605);
}

.dark-theme .tagline {
    color: white;
}

.dark-theme .section-title {
    color: white;
}

.dark-theme .fun-container {
    background-color: #4d4d4d;
}

.dark-theme button {
    background: #f7a636;
}

.dark-theme form div {
    color: white;
    background-color: gray;
}

.dark-theme .fun-container h1 {
    color: #fff;
}

.dark-theme .heading2 {
    color: white;
}

.dark-theme .fun-container p {
    color: #fff;
}

.dark-theme .fun-body {
    background-color: #262626;
    margin: 0;
}

.dark-theme .certificate-container {
    background-color: #4d4d4d;
}

.dark-theme .certificate-container p {
    color: #ffffff;
}

@media screen and (max-width: 320px) {
    .heading {
        padding: 10px;
    }

    .header-img {
        margin: 0 5px;
        height: 30px;
        width: 50px;
    }

    .header-name {
        font-size: 6px;
    }

    .tagline {
        font-size: 5px;
    }

    .section-title {
        font-size: 10px;
    }

    .fun-container {
        max-width: 450px;
        margin: 10px auto;
        padding: 10px 10px;
       
    }

    .fun-container h1 {
        font-size: 10px;
    } 

    .fun-container .question p {
        font-size: smaller;
    }

    .img {
        display: block;
        margin: 10px auto;
        height: 80px;
        width: 120px;

    }

    .img:hover {
        transform: scale(1.2);
    }

    form {
        margin-top: 20px;
    }

    form div {
        margin-bottom: 10px;
        font-size: 10px;
    }

    .que {
        font-size: 20px;
    }

    button{
        font-size: 10PX;
    } 


    .certificate-input input {
        width: 100px;
    }
}

@media screen and (min-width: 320.5px) and (max-width:450px) {
    .heading {
        padding: 10px;
    }

    .header-img {
        margin: 0 5px;
        height: 30px;
        width: 50px;
    }

    .header-name {
        font-size: 20px;
    }

    .tagline {
        font-size: 8px;
    }

    .section-title {
        font-size: 10px;
    }

    .fun-container {
        max-width: 600px;
        margin: 10px 40px;
        padding: 10px 20px;

    }

    .fun-container h1 {
        font-size: 10px;
    }

    .img {
        display: block;
        margin: 10px auto;
        height: 80px;
        width: 120px;
    }

    .img:hover {
        transform: scale(1.2);
    }

    form {
        margin-top: 20px;
    }

    form div {
        margin-bottom: 10px;
        font-size: 10px;
    }

    .que {
        font-size: 20px;
    }
    button{
        font-size: 10PX;
    } 

    .certificate-input input {
        width: 100px;
    }
}

@media screen and (min-width: 450.5px) and (max-width:702px) {
    .heading {
        padding: 10px;
    }

    .header-img {
        margin: 0 5px;
        height: 80px;
        width: 100px;
    }

    .header-name {
        font-size: 25px;
    }

    .tagline {
        font-size: 10px;
    }

    .section-title {
        font-size: 15px;
    }
    .fun-container {
        max-width: 600px;
        margin: 10px 40px;
        padding: 10px 20px;
    }

    h1 {
        font-size: 24px
    }

    .fun-container h2 {
        font-size: 20px;
    }

    .img {
        display: block;
        margin: 10px auto;
        height: 150px;
        width: 250px;
    }

    form {
        margin-top: 20px;
    }

    form div {
        margin-bottom: 10px;
    }

    button{
        font-size: 10PX;
    } 

    .certificate-input input {
        width: 100px;
    }

}

@media screen and (min-width: 702.5px) and (max-width:900px) {
    .heading {
        padding: 10px;
    }

    .header-img {
        margin: 0 5px;
        height: 80px;
        width: 100px;
    }

    .header-name {
        font-size: 45px;
    }

    .tagline {
        font-size: 20px;
    }

    .section-title {
        font-size: 25px;
    }
  

    .fun-container {
        max-width: 600px;
        margin: 10px auto;
        padding: 10px 20px;
    }

    h1 {
        font-size: 24px;
    }

    .fun-container h2 {
        font-size: 20px;
    }

    .img {
        display: block;
        margin: 10px auto;
        height: 150px;
        width: 250px;
    }

    form {
        margin-top: 20px;
    }

    form div {
        margin-bottom: 10px;
    }

    button{
        font-size: 10PX;
    } 


}

@media screen and (min-width: 902.5px) and (max-width:1304px) {
    .heading {
        padding: 10px;
    }

    .header-img {
        margin: 0 auto;
        height: 100px;
        width: 120px;
    }

    .header-name {
        font-size: 60px;
    }
    
    .tagline {
        font-size: 25px;
    }

    .section-title {
        font-size: 35px;
    }

    .fun-container {
        max-width: 600px;
        margin: 10px auto;
        padding: 10px 20px;
    }

    .fun-container h1 {
        font-size: 24px;
    }

    .fun-container h2 {
        font-size: 20px;
    }

    .img {
        display: block;
        margin: 10px auto;
        height: 150px;
        width: 250px;
    }

    .img:hover {
        transform: scale(1.2);
    }

    form {
        margin-top: 20px;
    }

    form div {
        margin-bottom: 10px;
    }



}