*{
    padding: 0%;
    margin: 0%;
}

.body{
    text-align: center;
/*background-color: aquamarine;*/
}

h1{
   margin-top: 130px;
    font-size: 5vmin;
}
.container1{
    
    height: 70vh;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 3rem;
    
}

.game{
       height: 50vmin;
       width: 60vmin;
       display: flex;
       flex-wrap: wrap;
       gap: 1.5vmin;
       
}

.box2{
    height: 17vmin;
    width: 17vmin;
    border-radius: 1.5rem;
    border-color:rgba(0, 0, 0, 0.283) ;
    color: black;
    font-size: 8vmin;
    color: red;
    background-color: aquamarine;
}


#reset-btn{
    height: 7vmin;
    width: 20vmin;
    background-color: black;
    border-radius: 1rem;
    color: white;
    font-size: 2.5vmin;
    text-align: center;
    position: absolute;
    margin: -80px ;
}