*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    }
    body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0a3c2f;
    }
    .container{
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background: #0d614b;
    padding: 40px 60px;
    }