@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

.GK-header{
    display: flex;
    justify-content: space-evenly;
}

.header-img{
    height: 100px;
}

.tagline{
    text-align: center;
    font-size: 25px;
}

.type-container{
    display: flex;
    justify-content:center;
    gap: 60px;
}
.que-no {
    margin-top: 20px;
    display: block;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px; 
}

.que-type{
    text-align: center;
    font-family: "Patrick Hand",cursive;
    font-size: 35px;
    margin-left: 0;
    margin-right: 0;
}
.question {
   width: 700px;
    border: 2px solid black;
    box-sizing: border-box; 
    margin-bottom: 20px; 
    margin-left: auto;
    margin-right: auto;
}

.question {
    display: none; 
}

.question.show {
    display: block; 
}

.question.hide {
    display: none;
}

.que-name{
    text-align: center;
    font-size: 25px;
    font-family: "Patrick Hand",cursive;
    margin-bottom: 5px;
}

.quiz-form{
    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
}

.navigation-buttons {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.nav-btn {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.res-contanier{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.res-btn{
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.result{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
}
.check-btn-container {
    display: flex;
    justify-content: center;
}

.check-btn {
    height: 30px;
   margin-bottom: 10px;
   display: none;
}

.final-score-container{
    margin-top: 0;
    margin-bottom: 0;
}
.res-btn{
    margin-top: 30px;
}