@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

@font-face {
    font-family:rutu ;
    src: url(../fonts/font-name.otf);
}
:root{
    --orange:#f7a636;
    --pink:#ff3399;
    --black: #1d1c1c;
    --white: #fff;
    --light-color:#55552b;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

@keyframes topToBottom {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(100%);
    }
  }
  
  
  .animative-movement {
  animation: topToBottom 5s infinite alternate;
  width: 60px;
  height:20px;
  position: relative;
  margin-left: 0;
  }
  
  #name1{
  margin-left: 0%;
    font-family:rutu;
    color: rgb(255, 2, 15);
    font-size:50px;
    margin-right: 10px;
  }
  #name2{
    font-family:rutu;
    color: rgb(59, 205, 40);
    font-size:50px;
    margin-right: 10px;
  }
  #name3{
    font-family:rutu;
    color: rgb(2, 175, 255);
    font-size:50px;
    margin-right: 10px;
  }
  #name4{
    font-family:rutu;
    color: rgb(162, 2, 255);
    font-size:50px;
    margin-right: 10px;
  }
  
  
  h2 {
    margin-top: 40px;
    color:#ff3399;
    font-family:rutu;
    font-size: 40px;
    margin-left:20px;
    }

  
  .container{
    margin-left:30px;
    margin-right: 0%;
  }
*{
  font-family: 'Poppins', sans-serif;
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  outline: none; border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .2s linear;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

section{
  padding: 3rem 7%;
}

.heading{
  font-size: 4rem;
  color: var(--black);
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 6rem;
}

.heading span{
  color: var(--orange);
  text-transform: uppercase;
}
.header{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:5px;
    background:#dadad6;
    box-shadow: var(--box-shadow);
  }
  
  .navbar{
    margin-left: 20%;
  }
  
  .header .navbar a{
    font-size: 1.7rem;
    margin: 0 1rem;
    color: var(--black);
    margin-right: 40px;
   
  }
  
  .header .navbar a:hover,
  .header .icons div:hover{
    color: var(--orange);
  }
  
  .header .icons div{
    font-size: 2.5rem;
    color: var(--black);
    cursor: pointer;
    
  }
  
  body {
    transition: background-color 0.3s, color 0.3s;
}

.dark-theme {
    background-color: #222222;
    color: #ffffff;

}

.light-theme {
    background-color: #ffffff;
    color: #000000;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 30px;
}

.dropdown a i {
    margin-left: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 18px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: #f7a636;
}

.navbar a {
    margin-right: 20px;
    text-decoration: none;
    font-size: 18px;
    color: #302e2e;
}
.nav__logo{
margin-right:100px;
}
.dark-theme .navbar a {
    color: #fff;
}
.dark-theme .home .content h3{
    font-size: 6rem;
    color: #fff;
  }
  .dark-theme .heading{
    font-size: 4rem;
    color: #fff;
  }
  .dark-theme .home .image img{
    filter: drop-shadow(10px 10px 60px #e28605);
  }
  .dark-theme header{
    background-color: #0b0b0b;
  }
  .dark-theme .dropdown-content{
    background-color: #1d1c1c;
  }
  .dark-theme .dropdown-content a{
    color:#fff ;
  }
  .dark-theme .dropdown-content a:hover{
    background-color: #fff;
  }
  .dark-theme .header .icons div{
    color:var(--white) ;       }
    .dark-theme .header .icons div:hover{
        color:var(--orange) ;  } 
    .dark-theme .menu-open{
        background-color: var(--orange);
        padding: 4px;
        border-radius: 4px;
    }     
.logo-dark {
    display: none;
    width: 35px;
    padding: 8px;
    border-radius: 50px;
    box-shadow: 0 0 10px #e28605;
    
}

.logo-light {
    display: inline;
    width: 40px;
    box-shadow: 0 0 10px #e28605;
    padding: 8px;
    border-radius: 50px;
    background-color: #f1f1f1;
}

.light-theme .logo-dark {
    display: none;
}

.light-theme .logo-light {
    display: inline;
}

.dark-theme .logo-dark {
    display: inline;
}

.dark-theme .logo-light {
    display: none;
}
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 300px;
    background-color: #f5f5f584; 
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1000;
    padding: 20px;
}

.sidebar-navbar {
    display: flex;
    flex-direction: column;
    color: rgb(34, 32, 32);
    margin-top: 50px;
   
}

.sidebar-navbar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display:flex;
    align-items: center;
    background-color: #fff2e6;
    padding: 10px 40px;
    border-radius: 5px;
margin-bottom: 10px;


}

.sidebar-navbar a:hover {
    background-color: #f7a636;
}

.close-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
}

/* Open Sidebar */
.sidebar.open {
    transform: translateX(0);
}

/* Menu Open Button */
.menu-open {
    position: fixed;
    top: 40px;
    right: 20px;
    cursor: pointer;
    z-index: 1001;
}
.active-menu{
    background-color: #ffd9b3}

    .sidebar-navbar.menu-item{
        background-color: #f1eaea;
        display: flex;
        margin:15px;
        border-radius:5px;
        align-items: center;
        padding:40px;
        text-decoration: none;
        cursor: pointer;
    }
    .menu-item:hover{
        background-color:#ee8012;}
    .menu-icon{
         height: 30px;
         display: inline;
         margin-bottom: 0%;
    }
    .menu-text{
        color:black;
        font-size: 20px;
        font-weight:bold;
      margin-left: 8px;
     
    }
/* Media query */
@media screen and (max-width: 600px) {
  .menu-open {
    top: 40px;
    right: 10px;
    
  }

  .nav__logo{
    margin-right:50px;
    }

  .container {
    margin-left: 5px;
    margin-right: 0%;
  } 

  html {
    font-size: 50%;
  }  

  .header .navbar {
    display: none;
  }

  #login-btn {
    margin-bottom: 10px;
  }

  .footer {
    margin-top: 20px;
  }
   .dark-theme #dark-logo {
    margin-right:15px;
  }
}
 
  /* Normal devices  */
@media screen and (min-width: 601px) and (max-width: 768px) {
  #menu-btn {
    display: inline-block;
    right:5px;
  }
  #login-btn {
    margin-right:0%;
  }
    .nav__logo {
      margin-right: 60px;
      margin-bottom:12px;
    
    }
  .header .navbar {
    position: absolute;
    top: 110%;
    right: -110%;
    width: 30rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    background: var(--white);
  }

  .header .navbar.active {
    right: 2rem;
    transition: .4s linear;
  }

  .header .navbar a {
   display: none;
  }

  .menu-open {
    display: flex;
  }

  .img-quizz .img-1 {
    width:600px;
    border-radius: 50px;
    box-shadow: 0 10px 30px #ff3399;
    padding: 20px;
    background-color: #fff;
    margin-right: 20%;
    height:500px
  }
  .img-quizz h4{
    font-size:35px;
    margin-top: 120px;
  }

}
   /*tablet devices*/
   @media screen and (min-width: 769px) and (max-width: 992px) {
    html {
      font-size: 55%;
    }
  
    .header {
      padding: 2rem 3rem;
    
    }
    .header .navbar a{
    display:inline;
    margin-right:10px;
    margin-left:0%;
    }
  
    .animative-movement{
      margin-left: 0%;
    }
    .container{
      margin-left:10px;
      margin-right: 0%;
    }
    #name-4{
      margin-right: 0%;
    }
    section {
      padding: 3rem;
    }
  
    .menu-open {
      display: none;
    }
    .nav__logo {
      margin-right:2px;
      
    
    }
    .navbar{
      margin-left:5%;
    }
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width:230px;
      height:auto;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      padding: 20px;
      z-index: 1;
    }
  
    .dropdown-content a {
      color: black;
      padding: 10px 20px; 
      text-decoration: none;
      display: block;
      font-size: 16px;
      margin:20px 20px;
    }
    .dropdown-content a:hover {
      background-color: #f1f1f1;
    margin:30px 0;
  }
  .img-quizz .img-1 {
    width:900px;
    border-radius: 50px;
    box-shadow: 0 10px 30px #ff3399;
    padding: 20px;
    background-color: #fff;
    height:500px
  }
  .img-quizz h4{
    font-size:35px;
    margin-top: 120px;
  }
  .img-quizz{
    margin-left: 10px;
  }
  .activities .box-container{
    gap:90px;
  }
  
  }
  /* desktop devices*/
  @media screen and (min-width: 992px) and (max-width: 1200px) 
  {
   .header .navbar a{
     display:inline;
     margin-right:20px;
     margin-left:0%;
     }
   
    .menu-open{
     display: none;
   }
   .nav__logo {
     margin-right:2px;
     
   
   }
   .icons a{
     margin-right: 5px;
   }
   .dropdown-content {
     display: none;
     position: absolute;
     background-color: #f9f9f9;
     min-width:260px;
     height:auto;
     box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
     padding: 20px;
     z-index: 1;
   
   }
 
   .dropdown-content a {
     color: black;
     padding: 10px 20px; 
     text-decoration: none;
     display: block;
     font-size: 16px;
     margin:20px 20px;  }
 
     .img-quizz .img-1 {
       width:1050px;
       border-radius: 50px;
       box-shadow: 0 10px 30px #ff3399;
       padding: 20px;
       background-color: #fff;
       height:700px
     }
     .img-quizz h4{
       font-size:50px;
       margin-top: 150px;
     }
     .img-quizz{
       margin-left:0%;
      
     }
     .activities .box-container{
       gap:40px;
     }
 }

  @media screen and (min-width: 1200px) {
.menu-open{
  display: none;
}
  }