* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.heading {
  margin-top: 100px;
  text-align: center;
  margin-bottom: 5px;
}


.changing-sentence {
  font-size: 35px;
  text-align: center;
  font-family: rutu;
  margin-top: 0px;
  margin-bottom: 30px;
  transition: color 0.5s ease;
}


.activities .box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  gap: 50px;
}

.activities .box-container .box {
  height: 360px;
  width: 300px;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 .5rem 1rem rgba(9, 9, 9, 0.15);
  border-radius: 10px;
  outline: 1rem solid rgba(0, 0, 0, 0.1);
  outline-offset: -1rem;
  background-color: white;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.activities .box-container .box img {
  height: 8rem;
  transition: transform 0.3s ease;
}

.activities .box-container .box:hover img {
  transform: scale(1.1);
}

.activities .box-container .box h3 {
  font-size: 2.2rem;
  padding: 2rem 0;
  color: var(--black);
}

.activities .box-container .box p {
  font-size: 15px;
  font-weight: bold;
  color: #4d4c4c;
}

.box:hover {
  transform: translateY(-10px);
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

#btn-1 {
  margin-top: 20px;
  border-radius: 10px;
  background-color: #199ef6;
  color: #fff;
}

#font-color {
  color: #0e0e0e;
}


.dark-theme .activities .box-container .box {
  box-shadow: 0 .6rem 1.5rem #e28605;
}

.dark-theme .activities .box-container .box .text-color {
  color: #000000;
}

.btn {
  font-size: 1.7rem;
  margin-top: 1rem;
  display: inline-block;
  padding: .8rem 3rem;
  border-radius: .5rem;
  color: var(--orange);
  background: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
  background: var(--orange);
  color: var(--white);
}

/* Media Queries */
@media screen and (max-width: 600px) {
  .container {
    margin-left: 5px;
    margin-right: 0;
  }

  html {
    font-size: 50%;
  }

  .header .navbar {
    display: none;
  }

  .footer {
    margin-top: 20px;
  }

  section .activities {
    margin-left: 50%;
  }

  .footer .box-container .box {
    margin-left: 30px;
  }

  .footer .box-container .box #name-1 {
    margin-left: 30px;
    height: 500px;
  }

  .image {
    margin-bottom: 70px;
  }

  .img-quizz .img-1 {
    width: 110%;
    border-radius: 50px;
    box-shadow: 0 10px 30px #ff3399;
    padding: 10px;
    background-color: #fff;
    margin-right: 30%;
    height: 300px;
    margin-left: auto;
    display: flex;
  }

  .img-quizz h4 {
    font-size: 25px;
    margin-top: 100px;
    margin-left: 15%;
  }

  .img-quizz {
    margin-left: 0;
    margin-right: 20px;
  }
}
