*{
    margin:0;
    padding:0;
}
.btn{
    font-size: 1.7rem;
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    border-radius: .5rem;
    border: .2rem solid var(--orange);
    color: var(--orange);
    background: none;
    cursor: pointer;
  }
  
  .btn:hover{
    background: var(--orange);
    color: var(--white);
  }
  .home{
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
    position: relative;
    margin-top: 70px;
  }
  
  .home .content{
    flex: 1 1 40rem;
    padding-top: 6.5rem;
  }
  
  .home .content h3{
    font-size: 6rem;
    color: var(--black);
  }
  
  .home .content h3 span{
    color: var(--orange);
    filter: drop-shadow(10px 10px 30px #e28605);
  }
  
  .home .content p{
    font-size: 1.7rem;
    color: var(--light-color);
    line-height: 1.8;
    padding: 1rem 0;
  }
  
  .home .image{
    flex: 1 1 40rem;
  }
  
  .home .image img{
    width: 100%;
    padding: 4rem;
    
  }
  
  .custom-shape-divider-bottom-1684324473 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    margin-top: 50px;
  }
  
  .custom-shape-divider-bottom-1684324473 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 107px;
    transform: rotateY(180deg);
  }
  
  .custom-shape-divider-bottom-1684324473 .shape-fill {
    fill: var(--pink);
  }
  .about{
    background: var(--pink);
    
  }
  
  .about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
  
  .about .row .image{
    flex: 1 1 50rem;
  }
  
  .about .row .image img{
    width: 100%;
    height: 100%;
    filter: drop-shadow(8px 8px 30px #f79df7);
  }
  
  .about .row .content{
    flex: 1 1 40rem;
  }
  
  .about .row .content h3{
    font-size: 3.5rem;
    color: var(--white);
    line-height: 1.5;
  }
  
  .about .row .content p{
    font-size: 1.4rem;
    color: var(--white);
    padding: 1rem 0;
    line-height: 2;
  }
  .img-quizz {
   
    top:auto;
    margin-left:20px;
    
   
}
.img-quizz .img-1{
  width:1200px;
    border-radius: 50px;
   box-shadow: 0 10px 30px #ff3399 ;
    padding:30px;
    background-color: #fff;
}
h4{
    position:absolute;
    color:#ff3399 ;
    margin-top: 140px;
    font-size: 50px;
    font-family: rutu;
    margin-left: 25%;

}
.activities .box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
.activities .box-container .box {
  height: 360px;
  width: 300px;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
  border-radius: 10px;
  outline: 0.1rem solid rgba(0, 0, 0, 0.1);
  outline-offset: -1rem;
  background-color: #dadad6;
}
.activities .box-container .box img{
  height: 8rem;
}

.activities .box-container .box:hover img{
  transform: scale(1.1);
}

.activities .box-container .box h3{
  font-size: 2.2rem;
  padding: 2rem 0;
  color: var(--black);
}
.box-container .box p{
  font-size: 15px;
  font-weight: bold;
  color: #4d4c4c;
 }
 #btn-1{
  margin-top: 20px;
  border-radius:8px;
  background-color: #21c1f6;
  color: #fff;
  border:none;
 }
 #font-color{
  color:#0e0e0e;
 }
 .dark-theme .activities .box-container .box{
  box-shadow: 0 .6rem 1.5rem #e28605;
}
.dark-theme .activities .box-container .box .text-color{
  color: #000000;
}
.gallary-img{
  width: 1100px;
  height: 600px;
  object-fit: cover;
  background-color: #f4f4f7;
  display: block;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 10px 30px #7b7a7a ;;
  padding:10px;
  margin-bottom: 100px;
}
.btn-container{
  position: relative;
  width: fit-content;
  display: block;
  margin: 10px auto;
}
.buttonn{
  height: 60px;
  margin: 160px 10px;
  cursor: pointer;
  background-color: rgb(188, 187, 190);
  border-radius: 80%;
   position: absolute;
  top: 80px;
  padding:10px;
}
.btn-left{
  left: -35px;
}
.btn-right{
  right: -35px;
}


/* Media query */

@media screen and (max-width: 600px) {
 

  .container {
    margin-left: 5px;
    margin-right: 0%;
  } 

  html {
    font-size: 50%;
  }  

  .header .navbar {
    display: none;
  }


  .footer {
    margin-top: 20px;
  }

  section .activities {
    margin-left: 50%;
  }

  .div .footer .box-container .box {
    margin-left: 30px;
  }

  .footer .box-container .box #name-1 {
    margin-left: 30px;
    height: 500px;
  }
.image{
  margin-bottom: 70px;
}
  
  .img-quizz .img-1  {
    width: 110%;
    border-radius: 50px;
    box-shadow: 0 10px 30px #ff3399;
    padding: 10px;
    background-color: #fff;
    margin-right:30%;
    height:300px;
    margin-left: 5px auto;
    display:flex;
  }
  .img-quizz h4{
    font-size:25px;
    margin-top: 100px;
    margin-left:15%;
  }
  .img-quizz{
    margin-left:0%;
    margin-right:20px;
  }
  .buttonn{
    height:50px;
    margin: 60px 10px;
  }
  .gallary-img{
    width:300px;
    height:350px;
  }
}
