*{
    margin:0;
    padding:0;
}
.btn{
    font-size: 1.7rem;
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    border-radius: .5rem;
    border: .2rem solid var(--orange);
    color: var(--orange);
    background: none;
    cursor: pointer;
  }
  
  .btn:hover{
    background: var(--orange);
    color: var(--white);
  }
  .home{
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
    position: relative;
    margin-top: 70px;
  }
  
  .home .content{
    flex: 1 1 40rem;
    padding-top: 6.5rem;
  }
  
  .home .content h3{
    font-size: 6rem;
    color: var(--black);
  }
  
  .home .content h3 span{
    color: var(--orange);
    filter: drop-shadow(10px 10px 30px #e28605);
  }
  
  .home .content p{
    font-size: 1.7rem;
    color: var(--light-color);
    line-height: 1.8;
    padding: 1rem 0;
  }
  
  .home .image{
    flex: 1 1 40rem;
  }
  
  .home .image img{
    width: 100%;
    padding: 4rem;
    
  }
  
  .custom-shape-divider-bottom-1684324473 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    margin-top: 50px;
  }
  
  .custom-shape-divider-bottom-1684324473 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 107px;
    transform: rotateY(180deg);
  }
  
  .custom-shape-divider-bottom-1684324473 .shape-fill {
    fill: var(--pink);
  }
  .about{
    background: var(--pink);
    
  }
  
  .about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
  
  .about .row .image{
    flex: 1 1 50rem;
  }
  
  .about .row .image img{
    width: 100%;
    height: 100%;
    filter: drop-shadow(8px 8px 30px #f79df7);
  }
  
  .about .row .content{
    flex: 1 1 40rem;
  }
  
  .about .row .content h3{
    font-size: 3.5rem;
    color: var(--white);
    line-height: 1.5;
  }
  
  .about .row .content p{
    font-size: 1.4rem;
    color: var(--white);
    padding: 1rem 0;
    line-height: 2;
  }
  .img-quizz {
   
    top:auto;
    margin-left: 40px;
    
   
}
.img-quizz .img-1{
  width:1200px;
    border-radius: 50px;
   box-shadow: 0 10px 30px #ff3399 ;
    padding:30px;
    background-color: #fff;
}
h4{
    position:absolute;
    color:#ff3399 ;
    margin-top: 140px;
    font-size: 50px;
    font-family: rutu;
    margin-left: 25%;

}
.activities .box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.activities .box-container .box {
  height: 360px;
  width: 300px;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
  border-radius: 10px;
  outline: 0.1rem solid rgba(0, 0, 0, 0.1);
  outline-offset: -1rem;
  background-color: #fff;
}
.activities .box-container .box img{
  height: 8rem;
}

.activities .box-container .box:hover img{
  transform: scale(1.1);
}

.activities .box-container .box h3{
  font-size: 2.2rem;
  padding: 2rem 0;
  color: var(--black);
}
.box-container .box p{
  font-size: 15px;
  font-weight: bold;
  color: #4d4c4c;
 }
 #btn-1{
  margin-top: 20px;
  border-radius: 25px 10px;
 }
 #font-color{
  color:#0e0e0e;
 }
 .dark-theme .activities .box-container .box{
  box-shadow: 0 .6rem 1.5rem #e28605;
}
.dark-theme .activities .box-container .box .text-color{
  color: #000000;
}